[project]
	description = Dokumentace k Zoutly API REST point?m
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Adam Mrázek (Xquick)
[access "refs/for/refs/*"]
	read = group user/Adam Mrázek (Xquick)
	push = group user/Adam Mrázek (Xquick)
	label-Code-Review = -2..+2 group user/Adam Mrázek (Xquick)
	label-Verified = -1..+1 group user/Adam Mrázek (Xquick)
	rebase = group user/Adam Mrázek (Xquick)
	removeReviewer = group user/Adam Mrázek (Xquick)
	submit = group user/Adam Mrázek (Xquick)
[access "refs/heads/*"]
	read = group user/Adam Mrázek (Xquick)
	create = group user/Adam Mrázek (Xquick)
	push = +force group user/Adam Mrázek (Xquick)
	pushMerge = group user/Adam Mrázek (Xquick)
[access "refs/tags/*"]
	push = group user/Adam Mrázek (Xquick)
	push = +force group user/Adam Mrázek (Xquick)
